.categories {
    display: flex;
    flex-direction: column;
    padding-top: 43px;
    margin: 0 auto;
}
.browse {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    }
.range {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    width: 1320px;
    justify-content: space-between;
}