.character {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.jewerly {
    padding-left: 64px;
    
    display: flex;
    flex-direction: row;
  
}
.made {
    padding-top: 116px;
    width: 892px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */


    color: #000000;

}
.myel {
    padding-top: 135px;
    padding-left: 314px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 125% */

    text-transform: uppercase;

    color: #000000;

}
.aspect {
    padding-top: 31px;
    padding-left: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */


    color: #000000;

}