.gallery{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: row;
    
}
.modern{
    position: absolute;
    padding: 579px 289px 33px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
   

    text-transform: capitalize;

    color: #FFFFFF;

}
.stack{
    position: absolute;
    padding: 579px 289px 33px 987px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
   

    text-transform: capitalize;

    color: #FFFFFF;

}