.mine {
    display: flex;
    flex-direction: row;
    padding-top: 182px;
}
.tshirt {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 60px;
    padding: 47px 30px 829px 770px;
}
